@import "../../styles/mixins";

$big-font: 1.5em;

.current {
    &_container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;

        padding: 10px 5px;

        & > div {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
        }

        & h2 {
            margin: 0;
        }
    }

    &_number {
        font-size: $big-font;
    }

    &_info {
        gap: 20px;
        & > span {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
    }

    &_thermo {
        @include icon-display;
        font-size: 2.5em;
        margin-right: 8px;
    }
}

.forecast {
    &_corousel {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        flex-wrap: nowrap;
        overflow-x: auto;
        padding: 5px 0;

        & > * {
            &:not(:last-child) {
                border-right: 1px solid rgba(0, 0, 0, 0.342);
            }
        }

        &::-webkit-scrollbar {
            background-color: rgba(0, 0, 0, 0.171);
            border-radius: 10px;
            height: 8px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: rgba(0, 0, 0, 0.61);
        }
    }
}
