.current {
    &_container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;

        padding: 10px 5px;

        & > div {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

        & h3 {
            margin: 0;
        }
    }

    &_number {
        font-size: 1.5em;
    }

    &_info {
        gap: 20px;
    }

    &_thermo {
        font-size: 1.5em;
    }
}
