@import "../../styles/mixins";

$search-background: rgba(61, 61, 61, 0.918);
$search-size: 43px;

.searchbar {
    &_container {
        position: absolute;
        z-index: 500;
        top: 30px;
        left: 10vw;
        width: $search-size;
        height: $search-size;
        overflow: hidden;
        border-radius: 50px;
        transition: width 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

        &:focus-within {
            width: 80vw;
        }
    }

    &_searchField {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        background: rgba(61, 61, 61, 0.918);
        height: $search-size;
        width: 80vw;
    }

    &_icon {
        @include icon-display;
        border-radius: 50px;
        color: white;
        font-size: 1.5em;
        height: $search-size;
        min-width: $search-size;
    }

    &_input {
        all: unset;
        width: 100%;
        color: rgb(255, 255, 255);

        &::placeholder {
            color: rgba(255, 255, 255, 0.644);
        }
    }

    &_options {
        background: $search-background;

        position: absolute;
        z-index: 500;
        width: 70vw;
        top: calc($search-size + 30px + 5px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-radius: 5px;
    }

    &_option {
        width: 100%;
        padding: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgb(255, 255, 255);
        border-radius: 5px;

        cursor: pointer;

        &:hover {
            background: rgba(77, 77, 77, 0.836);
        }
    }
}
