$icon-size: 40px;

.search {
    &_container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;

        padding: 10px;
        border-radius: 50px;

        background-color: rgba(0, 0, 0, 0.247);
        align-self: flex-start;
        width: 100%;
    }

    &_icon {
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    &_input {
        all: unset;
        width: 0;
    }

    &_button {
        all: unset;
        cursor: pointer;
        display: none;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;
    }
}

.search_container-open {
    & .search {
        &_input {
            width: 100%;
        }

        &_button {
            display: flex;
        }
    }
}
