$icon-size: 40px;

.search {
    &_container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;

        padding: 10px 0 10px 10px;
        border-radius: 50px;

        background-color: rgba(0, 0, 0, 0.247);

        // position: absolute;
        // top: 20px;
        // left: 20px;
        align-self: flex-start;
    }

    &_icon {
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    &_input {
        all: unset;
        width: 0;

        transition: all 0.3s ease-in-out;

        &-open {
            width: 300px;
        }
    }

    &_button {
        all: unset;
        margin-right: 10px;
        cursor: pointer;
    }
}
